<div class="bodybackground">
<div class="container">
  <div class="row">
    <% startups.forEach((startup) => { %>
      <div class="col-lg-4 col-md-4">

      <div class="container startupblock">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <a href="/startups/<%= startup.id %>">
              <img class="img-fluid img-thumbnail startuplogo" src="<%= startup.image %>" alt="<%= startup.name %>">
            </a>
          </div>
        </div>
        <div class="row overview">
          <div class="col-lg-4 col-md-4 centre">
            <%= startup.industry %><br>
          </div>
          <div class="col-lg-4 col-md-4 centre">
            Founded in <%= startup.date %><br>
          </div>
          <div class="col-lg-4 col-md-4 centre">
            <%= startup.country %>
          </div>
        </div>
        <div class="row seemore">
        <a href="/startups/<%= startup.id %>">
          See more...
        </a>
        </div>
      </div>

      </div>
    <% }) %>
  </div>
</div>
</div>
